<div layout="column">
    <div flex="20" style="min-height: 120px; height: 120px;"></div>
    <div layout="row" layout-align="center center">
        <md-card style="min-width: 50vw;">
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="start center">Edit server</div>
            </md-toolbar>
            <md-card-content layout="row" layout-align="center center">
                <div flex="30" layout="row" layout-align="center center" layout-margin hide-xs hide-sm>
                    <img src="/favicon.png" style="width: 100%;"></img>
                </div>
                <div flex>
                    <div flex layout="row">
                        <div flex="10"></div>
                        <div flex layout="column" layout-align="space-around stretch">
                            <form name="editServerForm">
                                <md-input-container class="md-block">
                                    <label>IP Address or Domain Name:</label>
                                    <input type="text" required name="ipAddressOrDomainName" ng-model="server.ipAddressOrDomainName" ip-address-or-domain-name>
                                    <div ng-messages="editServerForm.ipAddressOrDomainName.$error">
                                        <div ng-message="required">Required</div>
                                        <div ng-message="ipAddressOrDomainName">Invalid</div>
                                    </div>
                                </md-input-container>
                            </form>
                        </div>
                        <div flex="10"></div>
                    </div>
                    <div flex layout="row" layout-align="center start">
                        <div flex="10"></div>
                        <div layout="row" flex layout-align="space-around center">
                            <md-button class="md-accent" ng-click="cancel()">Cancel</md-button>
                            <md-button class="md-raised md-accent" ng-disabled="editServerForm.$invalid || !editServerForm.$dirty" ng-click="confirm()">Confirm</md-button>
                        </div>
                        <div flex="10"></div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>